.item-wrapper {
    width: 90%;
    padding: 2em;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    justify-items: center;
}

@media only screen and (max-width: 450px) {
    .item-wrapper {
        width: 95vw;
    }

   .items {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   }
}
